.categoryValues {
    margin-top: 8px;
}

ul {
    list-style-type: none;
}
.categoryC{
 width: 200px;
}
.mainCategoriesContainer{
display: flex;
flex-direction: row;
}
.tableContainer{
 display: flex;
flex-direction: column;
}